html {
	background-color: white;
}
.banner {
	background-image: url("../images/Gates.gif");
    height: 430px;
    margin-left: -4%;
    margin-right: -5%;
    margin-top: -10%;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 50px;

}
.title {
	padding-top: 210px;
	font-size: 45px;
	font-family: 'Raleway', sans-serif;

}
.subtitle {
	color: #09255C;
	text-align: center;
	font-size: 23px;
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif;
}
.subtitle2 {
	color: #09255C;
	font-size: 20px;
	margin-bottom: 15px;
	font-family: 'Raleway', sans-serif;
}
.subtitle3 {
	color: #09255C;
	font-size: 17px;
	margin-bottom: 15px;
	font-family: 'Raleway', sans-serif;
}
.content {
	color: #09255C;
	font-size: 15px;
	margin-bottom: 30px;
	font-family: arial;
}
#nav {

    margin-top: 0px;
	text-align: center;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #F7BF3A;
	font-size: 1.9;
	font-family: 'Raleway', sans-serif;
	display: inline;
	height: 70px;
	width:100%;
	color: white;

}

#nav ul {
	list-style-type: none;
	font-size: 1em;
    width: 100%;
    margin-left: -50px;
}

#nav li {
	display: inline-block;
}

#nav a:link, 
#nav a:visited {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: white;
}

#nav a:hover,
#nav a:active {
	font-style: italic;
}

a:link, a:visited {
	color: orange;
}

#home, #news, #research, #team, #contact {
	height: 100%;
	padding-top: 20px;
	font-family: arial;
	color: #09255C;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#moreResearch, #research_form, #team_form, #news_form {
	display: none;
}

#click, #add_research, #add_member, #add_news {
	background-color: white;
	color: #F7BF3A;
	margin-bottom: 1%;
	text-align: center;
}

#click:hover, #add_research:hover, #add_member:hover, #add_news:hover {
	font-style: italic;

}


